<nav>
      <ul>
        <li id="to-left">
          <a href="/">Home</a>
        </li>
        <li id="to-right">
          <a href="/profile">My Memories</a>
        </li>
        <li id="to-right">
          <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
        </li>  
      </ul>
    </nav>  