

<h3>Create a Memory</h3>
<form action='/create-memory' method='POST' enctype='multipart/form-data'>

<label for="-title-input">Title:</label>
<input type="text" name="title" id="title-input" placeholder="Title of this Memory"/>

<label for="-image-input">Image</label>
<input type="file" name="image" id="image-input"/>

<label for="-description-input">Description:</label>
<textarea type="text" name="description" id="description-input" placeholder="Go on, tell the story"> </textarea>


<input type="submit" value="Create Memory"/>

</form>